/* Universal Styles */
html
body{
  font-size: 14px;
  font-family: Open Sans
  overflow-x:hidden;
}
.navbar{
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0;
}
.nav li{
  padding-right: 2rem;
}

.jumbotron{
  margin-top: 0;
  padding: 0;
  background-image: url('../images/jumbotron-beer.jpg');
  background-size: cover;
  text-align: center;
  margin-bottom: 0;
}

.jumbotron h1 {
  margin-top: 0;
  padding-top: 11.85rem;
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px 0 #000,
  -1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.jumbotron p {
  max-width: 51.3rem;
  padding: 2.8rem 0;
  margin: auto;
  color: white;
}
.botton{
  padding-bottom: 11.85rem;
}
.featured-title{
  padding-top: 1.5rem;
}
.featured-xl-img {
  height: 21rem;
}

h4{
  font-size: 1.7rem;
  font-weight: bold;
  padding-bottom: 20px;
}
h5 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: .5rem;
}
.author {
  padding-bottom: .75rem;
}
.center-content{
  line-height: 1.4;
}
.product li{
  line-height: 1.4;
}
.image-container {
  overflow: hidden;
  padding: 0 2rem;
}
.text-container{
  padding: 0 2rem;
}
.project-title h5{
  margin-top: 2rem;
}
